@media screen and (min-width: 362px) and (max-width: 500px) {

html {

  background: black;

  color: #000;

}

body div {

  background: #A9A9A9;

  padding: 10px;

  border-radius: 20px;

}

#num {

  width: 350px;

  height: 50px;

  font-size: 30px;

  background: rgba(0, 0, 0, 0.35);

  border: 2px solid black;

  border-radius: 10px;

}

#num::placeholder {

  font-size: 20px;

  text-align: center;

  color: #5A5A5A;

}

#btn {

  font-size: 40px;

  background: rgba(0, 0, 0, 0.35);

  border: 2px solid black;

  border-radius: 10px;

}

#dv2 {

  display: flex;

  overflow: hidden;

}

#dv2 input {

  width: 169px;

  height: 100px;

  margin-left: 5px;

  margin-top: 80px;

  border: 2px solid black;

  border-radius: 1px;

  margin-right: 10px;

  background: rgba(0, 0, 0, 0.35);

  border-radius: 10px;

  font-size: 40px

}

#h31 {

  position: absolute;

}

#h32 {

  position: absolute;

  left: 250px

}

#h0,

#btn {

  width: 100px;

  height: 100px;

  text-align: center;

  border-radius: 90px;

  font-size: 40px;

  margin: 20px;

  background: rgba(0, 0, 0, 0.35);

  color: black;

  transition: 0.3s all;

}

#btn:active {

  background: #A9A9A9;

}

#re:active {

  background: red

}

#re {

  width: 60px;

  height: 60px;

  border-radius: 90px;

  transition: 1s all;

}

#h0 {

  color: black;

  font-size: 20px;

  margin-top: -200px

}

#dv12 {

  display: block;

}

#sp1,

#sp2,

#sp3 {

  display: flex;

  font-size: 9px;

  height: 30px;

  padding-bottom: -10px;

  font-weight: bolder;

}

#dv3 {

  height: 200px;

}

#dv4 input {

  background: rgba(0, 0, 0, 0.35);

}

#sp2 input {

  margin-left: 30px;

  color: black;

}

#sp1 input {

  margin-left: 25px;

  color: black;

}

#sp3 input {

  margin-left: 50px;

  color: black;

}

#tq,

#tq1 {

  margin-left: 300px;

  width: 60px;

  height: 40px;

  font-size: 20px;

  text-align: center;

  background: rgba(0, 0, 0, 0.35);

  border-radius: 10px;

  margin-top: 20px

}

#tq1{

  font-size: 15px;

  color: white

}

#dvt table {

  border-color: white;

  border-radius: 10px;

  background: #4F5164

}

#dvt {

  background: transparent;

}

#dvt table tr td {

  border-radius: 5px

}

#tr1,

#tde {

  background: #8789A1;

  text-align: center;

}

#cle{

  background: #8789A1;

  width: 90px;

}

}

@media screen and (min-width: 10px) and (max-width: 365px) {

html {

  background: black;

  color: #000;

}

body div {

  background: #A9A9A9;

  padding: 10px;

  border-radius: 20px;

}

#num {

  width: 300px;

  height: 50px;

  font-size: 30px;

  background: rgba(0, 0, 0, 0.35);

  border: 2px solid black;

  border-radius: 10px;

}

#num::placeholder {

  font-size: 20px;

  text-align: center;

  color: #5A5A5A;

}

#btn {

  font-size: 40px;

  background: rgba(0, 0, 0, 0.35);

  border: 2px solid black;

  border-radius: 10px;

}

#dv2 {

  display: flex;

  overflow: hidden;

}

#dv2 input {

  width: 129px;

  height: 100px;

  margin-left: 12px;

  margin-top: 80px;

  border: 2px solid black;

  border-radius: 1px;

  margin-right: 10px;

  background: rgba(0, 0, 0, 0.35);

  border-radius: 10px;

  font-size: 40px

}

#h31 {

  position: absolute;

  left: 15px

}

#h32 {

  position: absolute;

  left: 190px

}

#h0,

#btn {

  width: 100px;

  height: 100px;

  text-align: center;

  border-radius: 90px;

  font-size: 40px;

  margin: 20px;

  background: rgba(0, 0, 0, 0.35);

  color: black;

  transition: 0.3s all;

}

#btn:active {

  background: #A9A9A9;

}

#re:active {

  background: red

}

#re {

  width: 60px;

  height: 60px;

  border-radius: 90px;

  transition: 1s all;

}

#h0 {

  color: black;

  font-size: 20px;

  margin-top: -200px

}

#dv12 {

  display: block;

}

#sp1,

#sp2,

#sp3 {

  display: flex;

  font-size: 9px;

  height: 30px;

  padding-bottom: -10px;

  font-weight: bolder;

}

#dv3 {

  height: 200px;

}

#dv4 input {

  background: rgba(0, 0, 0, 0.35);

}

#sp2 input {

  margin-left: 30px;

  color: black;

}

#sp1 input {

  margin-left: 25px;

  color: black;

}

#sp3 input {

  margin-left: 50px;

  color: black;

}

#tq,

#tq1 {

  margin-left: 230px;

  width: 60px;

  height: 40px;

  font-size: 20px;

  text-align: center;

  background: rgba(0, 0, 0, 0.35);

  border-radius: 10px;

  margin-top: 20px

}

#tq1{

  font-size: 15px;

  color: white

}

#dvt table {

  border-color: white;

  border-radius: 10px;

  background: #4F5164

}

#dvt {

  background: transparent;

}

#dvt table tr td {

  border-radius: 5px

}

#tr1,

#tde {

  background: #8789A1;

  text-align: center;

}

#cle{

  background: #8789A1;

  width: 90px;

}

}

@media screen and (min-width: 501px) and (max-width: 2000px) {

html {

  background: black;

  color: #000;

}

body div {

  background: #A9A9A9;

  padding: 10px;

  border-radius: 20px;

}

#num {

  width: 750px;

  height: 55px;

  font-size: 40px;

  background: rgba(0, 0, 0, 0.35);

  border: 2px solid black;

  border-radius: 10px;

}

#num::placeholder {

  font-size: 20px;

  text-align: center;

  color: #5A5A5A;

}

#btn {

  font-size: 40px;

  background: rgba(0, 0, 0, 0.35);

  border: 2px solid black;

  border-radius: 10px;

}

#dv2 {

  display: flex;

  overflow: hidden;

}

#dv2 input {

  width: 250px;

  height: 130px;

  margin-left: 80px;

  margin-top: 80px;

  border: 2px solid black;

  border-radius: 1px;

  margin-right: 10px;

  background: rgba(0, 0, 0, 0.35);

  border-radius: 10px;

  font-size: 40px

}

#h31 {

  position: absolute;

  left: 99px;

  font-size: 30px

}

#h32 {

  position: absolute;

  left: 470px;

  font-size: 30px

}

#h0,

#btn {

  width: 100px;

  height: 100px;

  text-align: center;

  border-radius: 90px;

  font-size: 40px;

  margin: 20px;

  background: rgba(0, 0, 0, 0.35);

  color: black;

  transition: 0.3s all;

}

#btn:active {

  background: #A9A9A9;

}

#re:active {

  background: red

}

#re {

  width: 60px;

  height: 60px;

  border-radius: 90px;

  transition: 1s all;

}

#h0 {

  color: black;

  font-size: 20px;

  margin-top: -200px

}

#dv12 {

  display: block;

}

#sp1,

#sp2,

#sp3 {

  display: flex;

  font-size: 9px;

  height: 30px;

  padding-bottom: 9px;

  font-weight: bolder;

  margin-left: 190px;

  font-size: 16px

}

#sp1 h3{

    margin-top: -0px;

}

#sp2 h3{

    margin-top: -0px;

}

#sp3 h3{

    margin-top: -0px;

}

#dv3 {

  height: 200px;

}

#dv4 input {

  background: rgba(0, 0, 0, 0.35);

}

#sp2 input {

  margin-left: 30px;

  color: black;

}

#sp1 input {

  margin-left: 25px;

  color: black;

}

#sp3 input {

  margin-left: 50px;

  color: black;

}

#tq,

#tq1 {

  margin-left: 230px;

  width: 60px;

  height: 40px;

  font-size: 20px;

  text-align: center;

  background: rgba(0, 0, 0, 0.35);

  border-radius: 10px;

  margin-top: 20px

}

#tq1{

  font-size: 15px;

  color: white

}

#dvt table {

  border-color: white;

  border-radius: 10px;

  background: #4F5164

}

#dvt {

  background: transparent;

}

#dvt table tr td {

  border-radius: 5px

}

#tr1,

#tde {

  background: #8789A1;

  text-align: center;

}

#cle{

  background: #8789A1;

  width: 90px;

}

}

